body {
    background: rgba(159, 208, 226, 0.27);
}
form {
    margin: 0 auto;
    margin-top: 100px;
    background: white;
    width: 480px;
    height: 530px;
    padding:50px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border-radius: 15px;

}
.main-container {
    padding-top: 150px;
}
#input {
    width:480px; 
    height: 25px;
    margin-bottom: 20px;
}
.date-cvv {
    display: flex;
    justify-content: space-between;
}
#short-input {
    width: 200px; 
    height: 25px;
}
.date-cvv {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
#buttom {
    width:480px; 
    height: 30px;
    color: white;
    background-color: rgb(0, 157, 255);
    border-radius: 7px;
    margin-bottom: 20px; 
}
