body {
    font-family: Tahoma;
    background:rgb(192,192,192, 0.5);
    margin: 0;
}
   table {
    width: 1000px; /* Ширина таблицы */
    height: 600px;
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   } 
   thead {
       width: 100px; /* Ширина таблицы */
    height: 60px;
   }
.day:hover {}
